  <div id="content_body">
    <div id="left_content">
      <p class="headers1"> Contact Us </p>
      <p> <%= image_tag("contact_img.png",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;") %> <span style="font-size:14px;font-weight:bold;font-style:italic;color:#e1e1e1;"> "A liberal education is at the heart of a civil society, and at the heart of a liberal education is the act of teaching." - A. Bartlett Giamatti </span> </p>
      <br />
      <p> Like the product? Have a question? Feel free to drop us a mail or call us, our marketing team will be pleased to answer your queries and build a symbiotic relationship with you. Partner us in our goal of imparting reformed educational system, benefitting millions of students and educators world-wide. In short, Adopt PRO-Dagogue now!</p>
      <br />
      <p> Shy ? Send us a quick note and our dedicated team will get back to you in a flash. We welcome enquiries from students who want to know how PRO-Dagogue can benefit them, there are so many features to be exploited!</p>
      <br />
      <p> Need consultation regarding academic matters? We can help you! No hassles, no strings attached ... just mail us! </p>
      <br />
      <br />
      <div class="contact">
        <form id="frm1" action="#" method="post">
          <p> Name </p>
          <p>
            <input type="text" name="name" />
          </p>
          <p style="margin-top:20px;"> E-Mail </p>
          <p>
            <input type="text" name="email" />
          </p>
          <p style="margin-top:20px;"> Your Message </p>
          <p>
            <textarea name="message"></textarea>
          </p>
          <p style="margin-top:20px;">
            <input type="image" src="images/send_btn.png" name="send" />
          </p>
        </form>
      </div>
    </div>
    <div id="right_content">
      <p class="sub_headers"> Get in Touch </p>
      <ul class="right_links1">
        <li>2338, 16th Main,</li>
        <li>100 Feet Road, </li>
        <li>Indiranagar, Bangalore, </li>
        <li>Karnataka, India</li>
        <li> 560038 </li>
        <li>Telephone: <b>+91 - 9845952800</b></li>
        <li>Email: <b>queries@greycell.co.in</b></li>
      </ul>
      <br />
      <div id="follow_us">
        <p class="sub_headers"> Follow us </p>
        <%= link_to(image_tag("twitter_icon.png", :alt=>""), "")%>
        <%= link_to(image_tag("facebook_icon.png", :alt=>""), "")%>
        <%= link_to(image_tag("linkdin_icon.png", :alt=>""), "")%>
       </div>
      <br />
      <br />
    </div>
    <div class="clear"></div>
  </div>
